.PSmenuitem {
  font-size: 8pt;
  color: Black;
  font-family: tahoma, arial, helvetica, sans-serif;
  text-decoration: none;
}
.PSnavmenuitem {
  font-size: 8pt;
  color: Black;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: none;
}
.PSpopupmenu {
  border-right: ButtonHighlight 2px outset;
  border-top: ButtonHighlight 2px outset;
  left: 0px;
  visibility: hidden;
  border-left: ButtonHighlight 2px outset;
  border-bottom: ButtonHighlight 2px outset;
  position: absolute;
  top: 0px;
  background-color: #d4d0c8;
}
.PSbreadcrumb {
  font-size: 8pt;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  padding: 3px;
  vertical-align: bottom;
}
.PStopnavbar {
  border-right: ButtonHighlight 12px outset;
  border-top: ButtonHighlight 12px outset;
  border-left: ButtonHighlight 12px outset;
  border-bottom: ButtonHighlight 12px outset;
}
.PSactiveitemborder {
  border-right: Green 1px solid;
  border-top: Green 1px solid;
  border-left: Green 1px solid;
  border-bottom: Green 1px solid;
}
.PSactiveitemborder2 {
  border-right: Blue 1px solid;
  border-top: Blue 1px solid;
  border-left: Blue 1px solid;
  border-bottom: Blue 1px solid;
}
