body {
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  color: #003;
  text-decoration: none;
}
a:hover {
  color: #33c;
  text-decoration: underline;
}

.user-info td,
.user-info td.field {
  font-size: 2em;
}

img {
  border: 0;
}

.backgroundcolour {
  background-color: #bec5e7;
}
.backgroundcolor {
  background-color: #bec5e7;
}
.outerboxcell {
  background-color: #bec5e7;
}
.headercell {
  background: #ceddff;
}
.datacellHighlight {
  background: #ceddff;
  height: 15px;
}
.navdatacellHighlight {
  background: #ceddff;
  height: 15px;
}
.outerboxcellfont {
  font-weight: bold;
  font-size: 12px;
  color: #646464;
  font-family: verdana, arial, helvetica, sans-serif;
}
.innerboxcell {
  height: 18px;
  background-color: #666666;
}
.innerboxcellfont {
  font-size: 10px;
  color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
}
.headercellfont {
  font-weight: bold;
  font-size: 10px;
  color: #646464;
  font-family: verdana, arial, helvetica, sans-serif;
}
.headercell2 {
  background-color: #f7f8fd;
}
.headercell2font {
  font-weight: bold;
  font-size: 10px;
  color: #646464;
  font-family: verdana, arial, helvetica, sans-serif;
}
.headercell2errorfont {
  font-weight: bold;
  font-size: 10px;
  color: #ff0000;
  font-family: verdana, arial, helvetica, sans-serif;
}
.headererrorcell {
  font-weight: bold;
  font-size: 10px;
  background: #f7f8fd;
  color: #ff0000;
  font-family: verdana, arial, helvetica, sans-serif;
}
.controlname {
  font-weight: bold;
  font-size: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}
.controlnameerror {
  font-weight: bold;
  font-size: 10px;
  background: #f7f8fd;
  color: #ff0000;
  font-family: verdana, arial, helvetica, sans-serif;
}
.datacellHighlight {
  background: #d1d6f0;
  height: 15px;
}
.datacell1 {
  background: #ffffff;
  height: 15px;
}
.datacell1font {
  font-size: 10px;
  color: #666666;
  font-family: verdana, arial, helvetica, sans-serif;
}
td.datacell1font,
td.datacell2font {
  padding: 2px 4px;
}
.datacellfont {
  font-size: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #666666;
}
.datacell2 {
  background: #f7f8fd;
  height: 15px;
}
.datacell2font {
  font-size: 10px;
  color: #666666;
  font-family: verdana, arial, helvetica, sans-serif;
}
.banner {
  font-weight: bold;
  font-size: 18px;
  color: #646464;
  text-indent: 2px;
  line-height: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
}
.bannerlinks {
  font-weight: bold;
  font-size: 14px;
  color: #eeeeee;
  font-family: verdana, arial, helvetica, sans-serif;
}
.nav_body {
}
.reqfieldfont {
  font-size: 10px;
  color: #ff0000;
  font-family: verdana, arial, helvetica, sans-serif;
}
.currentPageNumber {
  font-size: 11px;
  color: #000000;
  font-weight: bold;
  font-family: verdana, arial, helvetica, sans-serif;
}
.datacellnoentriesfound {
  font-size: 10px;
  color: #ff0000;
  font-family: verdana, arial, helvetica, sans-serif;
}

A {
  font-size: 11px;
  color: #1779ab;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: none;
}
A:hover {
  text-decoration: underline;
}
.columnhead {
  font-size: 9pt;
  color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #666666;
  text-align: center;
}
.columnhead2 {
  font-size: 9pt;
  font-family: verdana, arial, helvetica, sans-serif;
}
.columnhead3 {
  font-weight: bold;
  font-size: 9pt;
  color: #646464;
  font-family: verdana, arial, helvetica, sans-serif;
}
.datadisplay {
  font-size: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}
.datadisplay2 {
  font-size: 10px;
  color: #666666;
  font-family: verdana, arial, helvetica, sans-serif;
}
.datadisplay3 {
  font-size: 10px;
  color: #666666;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #eeeeee;
}
.pageheading {
  font-weight: bold;
  font-size: 14pt;
  font-family: verdana, arial, helvetica, sans-serif;
}
.pagesubheading {
  font-weight: bold;
  font-size: 12pt;
  font-family: verdana, arial, helvetica, sans-serif;
}
.toplinks {
  font-weight: bold;
  font-size: 9pt;
  color: #ffff99;
  font-family: verdana, arial, helvetica, sans-serif;
}
.datadisplay-large {
  font-weight: bold;
  font-size: 12pt;
  font-family: verdana, arial, helvetica, sans-serif;
}
.hellotext {
  font-weight: bold;
  font-size: 9pt;
  color: #990000;
  font-family: verdana, arial, helvetica, sans-serif;
}
BODY.standard {
  background-color: #666666;
}
TABLE.backdrop {
  background-color: #ffffff;
}
TABLE.form {
  background-color: #999999;
}
.bannerbackground {
  /*BACKGROUND-COLOR: #ffffff*/
}
.bordercolor {
  background-color: #202040;
}
.previewlinks {
  font-weight: normal;
  font-size: 9pt;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
}
.monospace {
  font-size: 10px;
  font-family: Courier, monospace;
}
.navdatacell1 {
  background: #ffffff;
  height: 15px;
}
.navdatacell1font {
  font-size: 10px;
  color: #666666;
  font-family: verdana, arial, helvetica, sans-serif;
}
.navdatacell2 {
  background: #f7f8fd;
  height: 15px;
}
.navdatacell2font {
  font-size: 10px;
  color: #666666;
  font-family: verdana, arial, helvetica, sans-serif;
}
.groupbox {
  border-right: #808080 1px dashed;
  padding-right: 10px;
  border-top: #808080 1px dashed;
  margin-top: 4px;
  padding-left: 10px;
  margin-bottom: 4px;
  padding-bottom: 10px;
  border-left: #808080 1px dashed;
  width: 98%;
  padding-top: 10px;
  border-bottom: #808080 1px dashed;
  background-color: #ffffff;
}

.banner_blue_bg {
  background-color: #336699;
}

#RhythmyxBanner {
  margin: 0;
  padding: 0;
  background: #fff url(/Rhythmyx/sys_resources/images/banner_bkgd.jpg) no-repeat;
  height: 70px;
  border-bottom: 4px solid #4a65a2;
}

.rx-banner-table {
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  height: 70px;
}

.rx-banner-row {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

.rx-tabs-panel {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 240px;
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  font-size: larger;
}

.rx-tab-cell {
  padding-left: 1px;
  padding-right: 1px;
  border: 0;
  margin: 0;
  vertical-align: bottom;
  font-weight: bold;
  color: black;
}

.rx-tab-on {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #4a65a2;
  border-right: 2px solid #374b78;
  border-left: 2px solid #d0eeff;
  border-top: 2px solid #d0eeff;
  border-bottom-width: 0px;
}

.rx-tab-off {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #c0d5ff;
  border-right: 2px solid #374b78;
  border-left: 2px solid #d0eeff;
  border-top: 2px solid #d0eeff;
  border-bottom-width: 0px;
}

.rx-tab-off:hover {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #c5e0ff;
  border-right: 2px solid #374b78;
  border-left: 2px solid #d0eeff;
  border-top: 2px solid #d0eeff;
  border-bottom-width: 0px;
}

.rx-tab-off-disabled {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #c0d5ff;
  border-right: 2px solid #374b78;
  border-left: 2px solid #d0eeff;
  border-top: 2px solid #d0eeff;
  border-bottom-width: 0px;
}

a.rx-tab-link-disabled {
  text-decoration: none;
  color: #666666;
  margin: 10px 5px;
}

a:hover.rx-tab-link-disabled {
  text-decoration: none;
  color: #666666;
  margin: 10px 5px;
}

a.rx-tab-link-on {
  text-decoration: none;
  color: #ffffff;
  margin: 10px 5px;
}

a:hover.rx-tab-link-on {
  text-decoration: none;
  color: #ffffff;
  margin: 10px 5px;
}

a.rx-tab-link-off {
  text-decoration: none;
  margin: 10px 5px;
}

a:hover.rx-tab-link-off {
  text-decoration: underline;
  margin: 10px 5px;
}

.pub-page-layout {
  padding: 5px;
  width: 100%;
}

.pub-design-nav,
.pub-runtime-nav,
.admin-nav {
  width: 230px;
  vertical-align: top;
}

.pub-design-tree {
  width: 230px;
}

.pub-design-content,
.pub-runtime-content,
.admin-content {
  width: 100%;
  margin-left: 5px;
}

.pub-design-layout,
.pub-runtime-layout,
.admin-layout {
  vertical-align: top;
}

.pub-edit-detailbox {
  background-color: #ceddff;
  border: 1px inset gray;
}

.pub-breadcrumb-label {
  font-weight: bold;
  font-size: 12px;
  color: #4a65a2;
  font-family: verdana, arial, helvetica, sans-serif;
}

.pub-nav-container {
  font-size: 10pt;
  font-weight: bold;
  font-family: verdana, sans-serif;
}

.pub-nav-item {
  font-size: smaller;
}

.pub-runtime-status-table {
  border: 1px solid #ceddff;
  border-collapse: collapse;
  width: 100%;
}

.pub-runtime-tableheader TD {
  vertical-align: bottom;
  border-color: #ceddff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  background-color: #f7f8fd;
  color: #646464;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.pub-runtime-tableevenrow TD {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #666666;
  vertical-align: baseline;
  background-color: #ffffff;
  border-color: #ceddff;
}

.pub-runtime-tableoddrow TD {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #666666;
  vertical-align: baseline;
  background-color: #f7f8fd;
  border-color: #ceddff;
}

.pubruntime-outer-progress-bar {
  display: block;
  width: 120px;
  border: 1px solid black;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.pubruntime-inner-progress-bar {
  display: block;
  width: 0px;
  height: 8px;
  background-color: blue;
}

.pubruntime-nav-edition-display {
  font-size: 10px;
}

.table-form-label {
  vertical-align: top;
  font-size: smaller;
  text-align: right;
  margin-right: 8px;
  white-space: nowrap;
  border-bottom: 1px solid black;
}

.table-form-field {
  margin-left: 8px;
  margin-right: 8px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
}

.user-info td,
.user-info td.field,
.user-info td a,
.user-info td a.banner_blue {
  font-family: verdana, arial, sans-serif;
  font-size: 0.9em;
  white-space: nowrap;
}
.user-info td.field {
  text-align: right;
}

.user-info {
  border: 0;
  margin: 0 18px 4px 10px;
  padding: 0;
  font-size: 0.7em;
}
.user-info img {
  padding: 0;
  margin: 0 12px;
}
.user-status-field {
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding: 0 1em;
  padding-right: 1em;
}
.user-status-value {
  text-align: left;
  margin: 0;
  padding: 0 1em;
  padding-right: 1em;
}

.error-text {
  font-weight: bold;
  color: red;
}

.action-panel-header {
  color: white;
  padding-top: 39px;
  padding-left: 240px;
  padding-bottom: 20px;
  font-weight: bold;
  font-style: oblique;
}
.editableEditLiveSection {
  cursor: text;
  overflow: scroll;
  border-top: 1px solid rgb(171, 173, 179);
  border-left: 1px solid rgb(226, 227, 234);
  border-bottom: 1px solid rgb(227, 233, 239);
  border-right: 1px solid rgb(219, 223, 230);
  background-color: #ffffff;
}
.perc-button {
  background-color: #4a65a2;
  border: 1px;
  border-radius: 15px 0px 0px 0px;
  color: white !important;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin-left: -3px;
  margin-bottom: 2px;
  cursor: pointer;
}

.perc-button:hover {
  background-color: #4a65a2;
  border: 1px;
  border-radius: 15px 0px 0px 0px;
  color: white !important;
  padding: 5px 5px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 11px;
  margin-left: -3px;
  margin-bottom: 2px;
  cursor: pointer;
}
