.dojoValidateEmpty {
  background-color: #00ffff;
}
.dojoValidateValid {
  background-color: #cfc;
}
.dojoValidateInvalid {
  background-color: #fcc;
}
.dojoValidateRange {
  background-color: #ccf;
}
