<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="error" name="metadata">
  <Appenders>
    <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${sys:catalina.base}/logs/metadata.log"
                 filePattern="logs/$${date:yyyy-MM}/metadata-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [Thread: %t] %level [%c][%M] - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Root level="error" includeLocation="true" additivity="false">
      <AppenderRef ref="RollingRandomAccessFile"/>
    </Root>
 	<Logger name="com.percussion.delivery.metadata" level="info" additivity="false">
      <AppenderRef ref="RollingRandomAccessFile"/>
     </Logger>
    <!-- Silence known-noisy warnings from Log4j JUL bridge.
         Note: many of the "Ignoring call to setUseParentHandlers" messages are emitted via
         StatusLogger (not normal Loggers), so they are also controlled by log4j2.component.properties
         (log4j2.statusLoggerLevel=ERROR) and the status="error" attribute on <Configuration>. -->
    <Logger name="org.apache.logging.log4j.jul" level="error" additivity="false">
      <AppenderRef ref="RollingRandomAccessFile"/>
    </Logger>
  </Loggers>
</Configuration>
